<div class="section">
  <h2>Breeding</h2>
  <div class="training">
    <div class="metric">
      <span class="label">Egg Groups</span>
      <span class="value">
            <span class="egg-group">{{ getEggGroups() }}</span>
        </span>
    </div>
    <div class="divider"></div>

    <div class="metric gender-metric">
      <span class="label">Gender</span>
      <span class="value">
          <span class="female">{{getGenderRate('female')}} <span class="sub-text">(Female)</span></span>
          <span class="male">{{getGenderRate('male')}} <span class="sub-text">(Male)</span></span>
        </span>
    </div>
  </div>
</div>
