@if (pokemon == undefined && isLoading()) {
  <p>Loading..</p>
} @else if (pokemon == undefined && !isLoading()) {
  <div class="content">
    <div class="header">
      <h1>Pokemon not found</h1>
    </div>
  </div>
} @else {
  <div class="content">
    <div class="header">
      <div class="button-container">
        <button class="button" [routerLink]="'/'">Back to Overview</button>
      </div>
      <div class="title">
        <h1>{{pokemon!.name}}</h1>
        <div class="image">
          <img [src]="pokemon!.sprites.front_default" alt="Bild von {{ pokemon!.name }}" />
        </div>
      </div>
    </div>
    <div class="information-tiles">
      <app-stats-section id="stats" [pokemon]="pokemon!"></app-stats-section>
      <app-additional-infos id="additional-information" [pokemon]="pokemon!"></app-additional-infos>
    </div>
  </div>
}
