h2 {
  text-align: center;
}

.metric {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--space-large);

  .label {
    text-align: right;
  }

  .value {
    font-weight: bold;
  }
}
